<h1>About</h1>

<p>Hello there! My name is Matthew de Soto. I am a student at Carnegie Mellon University - School of Computer Science. I made this website to learn one way that I could implement every layer of the web stack.</p>
<p>This website's stack is built on windows server and a sql server database, running on an AWS EC2 instance.</p>
<p>Running on the server is ASP.NET Core, which handles pre-rendering of the website and exposes an API.</p>
<p>On top is Angular 4, which handles routing and display, and retrieves data through API calls to the server.</p>
<p>You can view the source code for this website and my other projects on Github by clicking the link above. The repository's name is website-angular. Thanks for visiting!</p>