<h1>Messages</h1>
<h3 *ngIf="messages==undefined || messages.length == 0">No messages found</h3>
<div *ngFor="let ms of messages">
    <h3>From: {{ms.from}}</h3>
    <p>{{ms.msg}}</p>
</div>
<br />
<button *ngIf="messages!=undefined && messages.length != 0" (click)="clearMessages()">Clear messages</button>
<div name="SendForm">
    <h2>Send Message</h2>
    To:&nbsp;<br /><input id="toId" [(ngModel)]="toBox"/><br />
    Message: <br />
    <textarea id="msgId" [(ngModel)]="msgBox"></textarea><br />
    <button (click)="sendMessage(toBox, msgBox)">Send</button>
</div>

<style>
    p {
        font-size: 16px;
    }
    textarea {
        width: 300px;
    }
</style>