<h1>Typescript Games</h1>
<table>
    <tr>
        <td id="TableCell1" (click)="onclick($event)"></td>
        <td id="TableCell2" (click)="onclick($event)"></td>
        <td id="TableCell3" (click)="onclick($event)"></td>
    </tr>
    <tr>
        <td id="TableCell4" (click)="onclick($event)"></td>
        <td id="TableCell5" (click)="onclick($event)"></td>
        <td id="TableCell6" (click)="onclick($event)"></td>
    </tr>
    <tr>
        <td id="TableCell7" (click)="onclick($event)"></td>
        <td id="TableCell8" (click)="onclick($event)"></td>
        <td id="TableCell9" (click)="onclick($event)"></td>
    </tr>
</table>
<br />
<label id="TurnString" style="font-size: 130%">Player X's Turn</label>
<style>
    td {
        border: 1px solid black;
        height: 60px;
        width: 60px;
        font-size: 280%;
        text-align: center;
    }

</style>